form.css:21body {
font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
style.css:1455body {
font-family: 'Arimo', sans-serif;
font-weight: 400;
color: #ffffff;
line-height: 1.5;
}
style.css:112html, body {
-webkit-text-size-adjust: 100%;
}
Inherited From html
form.css:7:root {
tab-size: 4;
}
form.css:151html {
font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
line-height: 1.5;
}
form.css:12html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
User Agent Style Sheethtml {
color: text;
}
